<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            li {
            padding:20px;
            }
        </style>
    </head>
    <body>

        <div class="jumbotron">
            <h1>Nescience</h1>
            <p>One of the newest and slowest threat intelligence search engines
                <form class="form-inline" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="query" name="query" class="form-control" size="30" placeholder="Enter querry" />
                    </div>
                    <button type="submit" class="btn btn-danger">Try it out!</button>
                </form>
            </p>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
